
$header-footer-bg-color: #333;
$W-100: 100%;
$padding-40-20: 40px 20px;
$bg-color-secondary: rgb(209, 209, 209);
$bg-color-thirdy: #efefef;
$common-font: "Arial", sans-serif;
$color-header: white;

body {
  display: flex;
  flex-direction: column;
  font-family: $common-font;
  line-height: 1.6;
  color: $header-footer-bg-color;
}

header {
  background-color: $header-footer-bg-color;
  color: $color-header;
  padding: 20px;
  text-align: center;
  nav {
    ul {
      list-style: none;
      li {
        display: inline;
        margin-right: 20px;
        a {
          text-decoration: none;
          color: $color-header;
          font-size: 18px;
        }
      }
    }
  }
}

#mobile-menu {
  display: none;
  background-color: $header-footer-bg-color;
}

.sticky-menu {
  position: sticky;
  top: 0;
  background-color: $header-footer-bg-color;
  z-index: 1000;
  width: $W-100;
  padding: 10px 0;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    li {
      margin: 0 20px;
      opacity: 0;
      transform: translateY(-10px);
      animation: fadeIn 0.8s ease-in-out forwards;
    }
  }

  a {
    color: $color-header;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    text-align: center;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #555;
    }
  }
}

@for $i from 1 through 10 {
  .sticky-menu li:nth-child(#{$i}) {
    animation-delay: #{$i * 0.2s};
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#home {
  .hero {
    background: $header-footer-bg-color;
    color: $color-header;
    text-align: center;
    padding: 40px 0;
  }
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
}

#about {
  padding: $padding-40-20;
  text-align: center;
  background-color: #fff;
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-position: top;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
      object-position: center;
    }
  }
}

#curriculum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $bg-color-thirdy;
  padding-bottom: 20px;
  .carousel-curriculum {
    // border: 1px solid black;
    background-color: $color-header;
    margin: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
    width: 300px;
    height: 430px;
    ul {
      text-align: start;
    }
    h3 {
      background-color: $bg-color-secondary;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }
    .curriculum-item {
      background-color: $color-header;
      margin-left: 4px;
      margin-right: 4px;
      border-radius: 10px;
      border-bottom: black solid 1px;
      #before_c {
        margin: 1px 1px 1px 1px;
      }
    }
  }
  .carousel-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

footer {
  background-color: $header-footer-bg-color;
  color: $color-header;
  text-align: center;
  width: $W-100;
  bottom: 0;
  a {
    text-decoration: none;
    color: inherit;
    i {
      font-size: 40px;
      width: 60px;
    }
    i.fab.fa-instagram:hover {
      color: purple;
    }
    i.fa-brands.fa-github:hover {
      color: black;
    }
  }
}

#contact {
  padding: $padding-40-20;
  background-color: $bg-color-secondary;
  text-align: center;

  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  form {
    background: $color-header;
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .form-group {
      margin-bottom: 15px;
      text-align: left;

      label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
      }

      input,
      textarea {
        width: $W-100;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: 0.3s ease-in-out;

        &:focus {
          border-color: $header-footer-bg-color;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          outline: none;
        }
      }

      textarea {
        resize: vertical;
      }
    }

    button {
      width: $W-100;
      padding: 10px;
      background: $header-footer-bg-color;
      color: $color-header;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s ease-in-out;

      &:hover {
        background: #555;
      }
    }
  }
}

@media (max-width: 1024px) {
  #curriculum {
    .carousel-curriculum {
      height: 500px;
      margin: 5px;
    }
  }
}

@media (max-width: 768px) {
  header {
    padding: 10px;
    nav {
      ul {
        li {
          margin-right: 10px;
          a {
            font-size: 16px;
          }
        }
      }
    }
  }

  .sticky-menu {
    ul {
      li {
        margin: 0 10px;
      }
    }
  }

  #home {
    .hero {
      padding: 20px 0;
    }
    h1 {
      font-size: 2em;
    }
  }

  #about {
    padding: 20px;
    h2 {
      font-size: 1.5em;
    }
  }

  #curriculum {
    .carousel-flex {
      flex-direction: column;
      align-items: center;
      .carousel-curriculum {
        width: 80%;
        height: auto;
        min-height: 250px;
        #experiences {
          display: none;
        }
        &:hover {
          #experiences {
            display: block;
          }
        }

      }
    }
  }

  footer {
    a {
      i {
        font-size: 30px;
        width: 50px;
      }
    }
  }

  #contact {
    padding: 20px;
    h2 {
      font-size: 1.5em;
    }
    form {
      padding: 10px;
      max-width: 400px;
    }
  }
}

@media (max-width: 430px) {
  .sticky-menu {
    display: none;
  }

  #experiences {
    display: none;
  }

  .carousel-flex {
    flex-direction: column;
  }

  #mobile-menu {
    display: block;
  }
}

