body {
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline;
  margin-right: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

#mobile-menu {
  display: none;
  background-color: #333;
}

.sticky-menu {
  position: sticky;
  top: 0;
  background-color: #333;
  z-index: 1000;
  width: 100%;
  padding: 10px 0;
}
.sticky-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.sticky-menu ul li {
  margin: 0 20px;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 0.8s ease-in-out forwards;
}
.sticky-menu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}
.sticky-menu a:hover {
  background-color: #555;
}

.sticky-menu li:nth-child(1) {
  animation-delay: 0.2s;
}

.sticky-menu li:nth-child(2) {
  animation-delay: 0.4s;
}

.sticky-menu li:nth-child(3) {
  animation-delay: 0.6s;
}

.sticky-menu li:nth-child(4) {
  animation-delay: 0.8s;
}

.sticky-menu li:nth-child(5) {
  animation-delay: 1s;
}

.sticky-menu li:nth-child(6) {
  animation-delay: 1.2s;
}

.sticky-menu li:nth-child(7) {
  animation-delay: 1.4s;
}

.sticky-menu li:nth-child(8) {
  animation-delay: 1.6s;
}

.sticky-menu li:nth-child(9) {
  animation-delay: 1.8s;
}

.sticky-menu li:nth-child(10) {
  animation-delay: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#home .hero {
  background: #333;
  color: white;
  text-align: center;
  padding: 40px 0;
}
#home h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

#about {
  padding: 40px 20px;
  text-align: center;
  background-color: #fff;
}
#about h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
#about .image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}
#about .image:hover {
  transform: scale(1.1);
  -o-object-position: center;
     object-position: center;
}

#curriculum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #efefef;
  padding-bottom: 20px;
}
#curriculum .carousel-curriculum {
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
  width: 300px;
  height: 430px;
}
#curriculum .carousel-curriculum ul {
  text-align: start;
}
#curriculum .carousel-curriculum h3 {
  background-color: rgb(209, 209, 209);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
#curriculum .carousel-curriculum .curriculum-item {
  background-color: white;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 10px;
  border-bottom: black solid 1px;
}
#curriculum .carousel-curriculum .curriculum-item #before_c {
  margin: 1px 1px 1px 1px;
}
#curriculum .carousel-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  width: 100%;
  bottom: 0;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer a i {
  font-size: 40px;
  width: 60px;
}
footer a i.fab.fa-instagram:hover {
  color: purple;
}
footer a i.fa-brands.fa-github:hover {
  color: black;
}

#contact {
  padding: 40px 20px;
  background-color: rgb(209, 209, 209);
  text-align: center;
}
#contact h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
#contact form {
  background: white;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#contact form .form-group {
  margin-bottom: 15px;
  text-align: left;
}
#contact form .form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
#contact form .form-group input,
#contact form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
#contact form .form-group input:focus,
#contact form .form-group textarea:focus {
  border-color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none;
}
#contact form .form-group textarea {
  resize: vertical;
}
#contact form button {
  width: 100%;
  padding: 10px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
#contact form button:hover {
  background: #555;
}

@media (max-width: 1024px) {
  #curriculum .carousel-curriculum {
    height: 500px;
    margin: 5px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 10px;
  }
  header nav ul li {
    margin-right: 10px;
  }
  header nav ul li a {
    font-size: 16px;
  }
  .sticky-menu ul li {
    margin: 0 10px;
  }
  #home .hero {
    padding: 20px 0;
  }
  #home h1 {
    font-size: 2em;
  }
  #about {
    padding: 20px;
  }
  #about h2 {
    font-size: 1.5em;
  }
  #curriculum .carousel-flex {
    flex-direction: column;
    align-items: center;
  }
  #curriculum .carousel-flex .carousel-curriculum {
    width: 80%;
    height: auto;
    min-height: 250px;
  }
  #curriculum .carousel-flex .carousel-curriculum #experiences {
    display: none;
  }
  #curriculum .carousel-flex .carousel-curriculum:hover #experiences {
    display: block;
  }
  footer a i {
    font-size: 30px;
    width: 50px;
  }
  #contact {
    padding: 20px;
  }
  #contact h2 {
    font-size: 1.5em;
  }
  #contact form {
    padding: 10px;
    max-width: 400px;
  }
}
@media (max-width: 430px) {
  .sticky-menu {
    display: none;
  }
  #experiences {
    display: none;
  }
  .carousel-flex {
    flex-direction: column;
  }
  #mobile-menu {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */